<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% comment %}

  BEGIN MAIN SPLASH IMAGE
  Display the main splash image with it's corresponding text and button

{% endcomment %}

<div class="fullScreen homeSplash">
  <!-- Place somewhere in the <body> of your page -->
  <div class="flexslider">
    <ul class="slides">
      {% if settings.slide_1_display %}
      <li>
      <figure>
        <img src="{{ 'slider1.png' | asset_url }}" />
        <figcaption class="text-center large--one-fourth grid--full medium-down--hide {{ settings.slide_1_text_position }}">
          <div class="three-fourths">
            <h1 class="text-right">{{ settings.splash_header }}</h1>
            <p class="text-right">{{ settings.splash_text }}</p>
            <a href="{{ settings.slide_1_button_link }}" class="text-center two-thirds right btn">{{ settings.splash_button_label }}</a>
          </div>
        </figcaption>
      </figure>
      </li>
      {% endif %}

      {% if settings.slide_2_display %}
      <li>
      <figure>
        <img src="{{ 'slider2.png' | asset_url }}" />
        <figcaption class="text-center large--one-fourth grid--full medium-down--hide {{ settings.slide_2_text_position }}">
          <div class="three-fourths">
            <h1 class="text-right">{{ settings.splash_header }}</h1>
            <p class="text-right">{{ settings.splash_text }}</p>
            <a href="{{ settings.slide_2_button_link }}" class="text-center two-thirds right btn">{{ settings.splash_button_label }}</a>
          </div>
        </figcaption>
      </figure>
      </li>
      {% endif %}

      {% if settings.slide_3_display %}
      <li>
      <figure>
        <img src="{{ 'slider3.png' | asset_url }}" />
        <figcaption class="text-center large--one-fourth grid--full medium-down--hide {{ settings.slide_3_text_position }}">
          <div class="three-fourths">
            <h1 class="text-right">{{ settings.splash_header }}</h1>
            <p class="text-right">{{ settings.splash_text }}</p>
            <a href="{{ settings.slide_3_button_link }}" class="text-center two-thirds right btn">{{ settings.splash_button_label }}</a>
          </div>
        </figcaption>
      </figure>
      </li>
      {% endif %}

      {% if settings.slide_4_display %}
      <li>
      <figure>
        <img src="{{ 'slider4.png' | asset_url }}" />
        <figcaption class="text-center large--one-fourth grid--full medium-down--hide {{ settings.slide_4_text_position }}">
          <div class="three-fourths">
            <h1 class="text-right">{{ settings.splash_header }}</h1>
            <p class="text-right">{{ settings.splash_text }}</p>
            <a href="{{ settings.slide_4_button_link }}" class="text-center two-thirds right btn">{{ settings.splash_button_label }}</a>
          </div>
        </figcaption>
      </figure>
      </li>
      {% endif %}

    </ul>
  </div>
  {% comment %}
  <figure>
    <img src="{{ 'homeSplash.png' | asset_url }}">
    <figcaption class="text-center large--one-fourth grid--full medium-down--hide">
      <div class="three-fourths">
        <h1 class="text-right">{{ settings.splash_header }}</h1>
        <p class="text-right">{{ settings.splash_text }}</p>
        <a href="/#cabins" class="text-center two-thirds right btn">{{ settings.splash_button_label }}</a>
      </div>
    </figcaption>
  </figure>
  {% endcomment %}
</div>

{% comment %}

  END MAIN SPLASH IMAGE

{% endcomment %}

<!-- WALLAROO MEDIA - 03/09/16 <h2>{{ 'homepage.sections.frontpage_title' | t }}</h2> -->

{% comment %}

  BEGIN FIRST TEXT BLOCK

{% endcomment %}

<div class="text-center wrapper large--five-twelfths">
  <h2>{{ settings.first_text_header }}</h2>
  <hr class="one-sixth text-center">
  <h3>{{ settings.first_text_subheader }}</h3>
  <p class="">{{ settings.first_text_text }}</p>
  <hr class="one-sixth text-center">
  <h4>{{ settings.first_phone_header }}</h4>
  <span>{{ settings.first_phone_number }}</span>
  <span class="subText grid__item text-center no-padding medium-down--hide"><a href="/#cabins">SCROLL TO VIEW CABINS</a></span>
</div>

{% comment %}

  END FIRST TEXT BLOCK

{% endcomment %}


{% comment %}

  BEGIN CABINS

{% endcomment %}

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="grid-uniform">

  {% comment %}
    Loop through products in your Frontpage collection.
    This collection is created by default, but you must add products to it.
  {% endcomment %}
  {% for product in collections.frontpage.products limit:4 %}

    {% comment %}
      Change the grid item width by using classes from the grid in
      the grid_item_width variable.

      Example:
        - {% assign grid_item_width = 'large--one-third' %}
    {% endcomment %}
    {% assign grid_item_width = '' %}
    {% include 'product-grid-item' %}

  {% else %}
    {% comment %}
      For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store
    {% endcomment %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    {% include 'onboarding-featured-products' %}

  {% endfor %}

</div>

{% comment %}

  END CABINS

{% endcomment %}

{% comment %}

  BEGIN SECOND TEXT BLOCK

{% endcomment %}

<div class="text-center wrapper large--five-twelfths">
  <hr class="one-sixth text-center">
  <h3>{{ settings.second_text_header }}</h3>
  <p>{{ settings.second_text_text }}</p>
  <h4>{{ settings.second_phone_header }}</h4>
  <span class="grid__item  no-padding">{{ settings.second_phone_number }}</span>
  <a href="/concierge" class="btn">{{ settings.splash_button_label }}</a>

</div>

{% comment %}

  END SECOND TEXT BLOCK

{% endcomment %}







{% comment %}
-----------------------------------------------------------
THIS IS ALL COMMENTED out
-----------------------------------------------------------
{% endcomment %}
{% comment %}
<h2>{{ 'homepage.sections.featured_title' | t }}</h2>

<div class="grid-uniform">

  {% comment %}
    Show five collections, unless it's 'frontpage'.

    Use an index variable in combination to the limit filter
    to account for the frontpage collection being in top six returned.

    Use variable isEmpty to check if no collections will be shown.
    For empty store demo only.
  {% endcomment %}
  {% assign index = 1 %}
  {% assign isEmpty = true %}

  {% for collection in collections limit:6 %}
    {% unless index > 5 %}

      {% unless collection.handle == 'frontpage' %}
        {% assign isEmpty = false %}
        {% assign collection_item_width = 'large--one-fifth medium--one-third' %}
        <div class="grid__item text-center" id="cabins">
          {% comment %}
            Use capture to put the collection title in a variable that is used in liquid filters
          {% endcomment %}
          {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

          <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}" class="grid__image one-half">
            {% if collection.image %}
              {{ collection.image.src | img_url: 'master' | img_tag: collection_title }}
            {% else %}
              {{ collection.products.first.featured_image | img_url: 'master' | img_tag: collection_title }}
            {% endif %}
          </a>

          <p class="grid__image one-half">
            <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection.title }}</a><br>
            <p>{{ collection.description }}</p>p>
            {{ 'collections.general.items_with_count' | t: count: collection.all_products_count }}
          </p>
        </div>
        {% assign index = index | plus: 1 %}
      {% endunless %}

    {% endunless %}
  {% endfor %}

  {% comment %}
    For onboarding new users to your theme, we add some default collections and onboarding tutorials to help populate their store
  {% endcomment %}

  {% if isEmpty %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    {% include 'onboarding-featured-collections' %}
  {% endif %}

</div>

{% comment %}

  END CABINS

{% endcomment %}

{% comment %}

THIS ALL CAME STANDARD WITH THE THEME, WE DO NOT WANT IT BUT HAVE KEPT IT HERE FOR REFERENCE PURPOSES

<hr>

  Loop through three recent blog articles with the following code.

  Since we're not on the blog template, we need to define the blog
  handle we want to focus on. For this example we'll use the default 'news',
  but you can create a blog page-specific content if you want.
{% endcomment %}
<h2>{{ 'homepage.sections.news_title' | t }}</h2>

<div class="grid">
  {% for article in blogs['news'].articles limit:3 %}

    <div class="grid__item large--one-third">

      <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
      <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>

      {% comment %}
        Add a surrounding div with class 'rte' to anything that will come from the rich text editor.
        Since this is just a listing page, you can either use the excerpt or truncate the full article.
      {% endcomment %}
      <div class="rte">
        {% if article.excerpt.size > 0 %}
          {{ article.excerpt }}
        {% else %}
          <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
        {% endif %}
      </div>

      {% comment %}
        Show off meta information like number of comments and tags.
      {% endcomment %}
      <ul>
        {% if blog.comments_enabled? %}
        <li>
          <a href="{{ article.url }}#comments">
            {{ article.comments_count }}
            {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
          </a>
        </li>
        {% endif %}
      </ul>

      <p><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a></p>

    </div>

  {% endfor %}
</div>

{% endcomment %}
